:root {
    --heading-background-color: #003459;
    --secondary-background-color: #007EA7;
    --accent1-color: #00A8E8;
    --accent2-color: #00171F;
    --heading-text-color: #FFFFFF;
    --heading-font: 'Montserrat';
    --text-font: 'Roboto';
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
  }

/* Add this to your styles.css */
.logo {
    position: absolute;
    top: 20px; /* Adjust the top margin as needed */
    left: 20px; /* Add some margin from the left */
}

header img {
    max-width: 100%; /* Ensures the logo image scales as needed */
    height: auto;
}
